@tailwind base;
@tailwind components;
@tailwind utilities;

.drawer-side a.active{
    color: orange;
}

.drawer-side a{
    background-color: transparent;
}

.bg{
    background-image: url(../src/assets/bg2.jpg);
}


